@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
* {
  box-sizing: content-box;
}
a, a:hover, a:active, a:link, a:visited{
  text-decoration: none !important;
}
.App {
  text-align: center;
  padding-top: 50px;
  background-color: rgb(40, 40, 40);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

@keyframes falha {
  0%{
    opacity: 0.7;
  }

  25%{
    opacity: 0.4;
  }

  50%{
    opacity: 0.8;
  }

  75%{
    opacity: 0.4;
  }

  100%{
    opacity: 0.6;
  }
}

@keyframes fadeInDownUp {
 0%{
   opacity: 0;
    transform: translateY(15px);
 }
 50%{
  opacity: 0.5;
    
 }
 
  100% {
    opacity: 1;
    transform: translateY(0);
    
  }
 
}
@keyframes fadeInRightLeft {
 0%{
   opacity: 0.5;
    transform: translateX(400px);
 }

 
  100% {
    opacity: 1;
    transform: translateX(0);
    
  }
 
}
@keyframes fadeInRightLeftItemHover {
 0%{
   
    transform: translateX(0) rotate(0deg);
    
 }
  100% {
    
    transform: translateX(-60px) rotate(5deg);
    
  }
 
}
@keyframes fadeInRightLeftItemHoverOut {
 0%{
   
   transform: translateX(-60px) rotate(5deg);
   
  }
  100% {
    transform: translateX(0) rotate(0deg);
    
    
  }
 
}

@keyframes leftToRight {
 from{ transform: translateX(-100px); }
 
to{ transform: translateX(0); }
 
}
@keyframes leftToRight2 {
 from{transform: translateX(-200px);}
  to{ transform: translateX(0);}
 
}
@keyframes leftToRight3 {
 from{transform: translateX(-300px);}
to{transform: translateX(0);}
 
}

.main--header{
  padding: 30px 0;
  color:rgb(103, 205, 247);
  background-color: rgb(30, 30, 30);
  
  margin: auto;
  
  border-bottom: 4px solid rgb(103, 205, 247);
  border-top: 4px solid rgb(103, 205, 247);
}

.main--intro{
  margin: auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

.main--info{
  margin: 20px auto;
  
}

.main--info p{
  font-size: 2em;
  text-align: left;
  margin:0 10px;
  overflow:hidden; white-space: nowrap;
  
}

.main--info--icons{
  margin: 20px auto;
  display: flex;
}
.main--info--icons a{
  color : rgb(103, 205, 247)
}
.main--info--icons{
  margin: 20px auto;
  display: flex;
}

.main--info p:hover{
  color: rgb(220, 205, 121);
  
}

.main--info a:hover{
  color: rgb(220, 205, 121);
  
}



.avatar{
  border-radius: 20px;
  margin: 20px 0 30px;

  width: 140px;
  height: 170px;
  object-fit: cover;
  

}

.avatar:hover{
  animation: av 0.5s ease-in;
}


.main--intro--text{
  
  font-size: 1.5em;
  
  font-family: 'Fira Code';
}
.main--intro--text--animation--1{
  
  animation: leftToRight 0.7s ease-out;
}
.main--intro--text--animation--2{
  
  animation: leftToRight2 1s ease-out;
}
.main--intro--text--animation--3{
  
  animation: leftToRight3 1.2s ease-out;
}

.main--works{
  height: 100%;
  color: rgb(103, 205, 247);
}
.main--works h3{
  margin: 40px 0 30px 10%;
  text-align: left;
  color: rgb(220, 205, 121);
  color: whitesmoke;
}

.main--works p, h5, h2{
  
  text-align: left;
  
}

.main--works--list{
  margin-left: 0rem;
  padding: 15px 0px 10px 14vw ;
  display: flex;
  flex-direction: row;
  /* white-space: nowrap; */
  overflow: auto;

}

.main--works--item--first{
  width: 20rem;
  min-width: 20rem;
  margin: 20px 30px 20px 10px;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px 0px  rgba(0, 0, 0, 0.9);
  border-color:  rgba(75, 42, 42, 0);
  animation: fadeInRightLeftItemHoverOut 0.3s;
  
  
  
}
.main--works--item--next{
  width: 20rem;
  min-width: 20rem;
  margin: 20px 30px 20px -150px;
  border-radius: 1rem;
  box-shadow: -30px 0px 20px -20px  rgba(0, 0, 0, 0.7);
  border-color:  rgba(75, 42, 42, 0);
  animation: fadeInRightLeftItemHoverOut 0.3s;
}


.main--works--item--first:hover{
  width: 20rem;
  min-width: 20rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px 0px  rgba(0, 0, 0, 0.7);
  border-color:  rgba(0, 0, 0, 0.5);
  transform: rotate(5deg);
  transform: translateX(-60px) rotate(5deg);
  animation: fadeInRightLeftItemHover 0.3s ease-out
}
.main--works--item--next:hover{
  width: 20rem;
  min-width: 20rem;
  border-radius: 1rem;
  box-shadow: -20px 0px 20px -15px  rgba(0, 0, 0, 0.7);
  border-color:  rgba(0, 0, 0, 0.5);
  
  transform:translateX(-60px) rotate(5deg);
  animation: fadeInRightLeftItemHover 0.3s ease-out

}
.work-item-animation{
  /* animation: fadeInDownUp 1.5s ease-out; */
  animation: fadeInRightLeftItemHover 0.5s ease-out;
  animation-direction: reverse;
}

.work-item-specialText-animation{
  animation: falha 0.4s 4;
}



.main--works--item--card--body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(51, 59, 59); */
  background-image: linear-gradient(to right, rgb(51, 59, 59), rgb(40, 40, 40));
  border-radius: 1rem;
  height: 13rem;
  padding: 1.25rem;
  
  
}


.main--works--item--card--body p{
  margin: 0;
}
.main--works--item--card--body h5{
  margin: 0;
}

.btn--card{
  display: inline-block;
  width: 100%;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
  background-color: rgb(30, 30, 30);
  border-color: rgb(220, 205, 121);;
}

a:hover.btn--card{
  color: white;
  border-color: white;
}

a.btn--card{
  color:rgb(220, 205, 121);
  border-color: rgb(220, 205, 121);
}

.main--works--item--info--image--list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main--works--item--info{
  
  background-color: white;
  
  margin: 10px 10%;
  border-radius: 1rem;
  padding: 30px;
  color: rgb(27, 25, 25);
  
}

.main--works--item--info p{
  text-align: justify;
}

.work--item--image--container{
  margin: 10px auto;
  
  
}
.work--item--image{
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 2px gray;
}


  





.yellow--color{
  color: rgb(220, 205, 121);
}

.yellow--color:hover{
  text-decoration: line-through;
}

.brown--color{
  color: rgb(172, 145, 106);
}
.white--color{
  color: rgb(255, 255, 255);
}
.orange--color{
  color: orange;
}
.grey--color{
  color: lightgray;
}

.purple--color{
  color: rgb(218, 99, 161);
}

.footer{
  padding: 10px 0;
  background-color: rgb(30, 30, 30);
  color: aliceblue;
}

@media (max-width : 700px){
  .work--item--image{
    width: 100%;
    border-radius: 0px;
  }

  .main--works--item--info{
  
    background-color: white;
    border-radius: 0px;
    margin: 10px 0;
  }

  .main--works--item--first{
    
    margin: 20px 30px 20px 40px;
  }
 
}
